@import url("https://rawgit.com/Shadow-Slayer/mib/master/style.css");
@import url("https://rawgit.com/Shadow-Slayer/mib/master/users.css");
@import url("https://rawgit.com/Shadow-Slayer/mib/master/special.css");
@import url("https://rawgit.com/Shadow-Slayer/mib/master/icones.css");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:500");

/* cor nome usuario cinza */
#chat .from .un {    
    color: #cc3442;
}

/* preview video */
.dialog {    background: rgba(0, 0, 0, 0.42);}

/* zoom nas fotos */
/*#chat-messages .fromID- .badge-box i, #chat-messages .badge-box i:hover {
    width: 75px;
    height: 75px;
    transition: 0.5s;
    background-position: initial;
    background-repeat: no-repeat !important;
}
#chat-messages .clickable:hover {
    width: 75px;
    height: 75px;
    transition: 0.5s;
}*/

#chat .message:nth-child(2n+1), #chat .mention:nth-child(2n+1), #chat .skip:nth-child(2n+1), #chat .moderation:nth-child(2n+1), #chat .emote:nth-child(2n+1), #chat .update:nth-child(2n+1), #chat .welcome:nth-child(2n+1) {
    overflow: hidden;
}

#chat [data-cid^="5394376-"].emote {
    overflow: hidden;
}


/* fim css zoom nas fotos */


/* Interface */
#footer-user .info {
background: rgba(0, 0, 0, 0.70);
}

#dashboard {
    background: rgba(0,0,0,0.5) !important;
}

.tab-menu button.selected {
    background: rgba(206,25,55,0.8);
}

.tab-menu button {
    background: rgba(0,0,0,0.5);
    border-radius: 15px;
}

#rcs-progress-container .bar {    
    background-color: #f4173b !important;    
}

/* Chat Botões cima */

.header-panel-button.selected {
background-color: rgba(206,25,55,0.5) !important;}

/* Botões direita */
#footer-user .buttons .button.store:hover {
background: rgba(206,25,55,0.2);}

#footer-user .buttons .button.inventory:hover {
box-shadow: none}

#footer-user .buttons .button:hover {
background-color: rgba(206,25,55,0.2);}

/* ------------------------------------------- */
/* Fundo top e bottom */


/* ------------------------------------------- */
/* Área texto */

#chat-input {
    border-radius: 10px;
    background: rgba(111,101,101,0.1) !important;
}

/* ------------------------------------------- */
/* Icones */

.icon-check-purple {
background: url('http://i.imgur.com/unM3UpT.png');
background-repeat: no-repeat;
background-position: 5px;}

.icon-next-track {
background: url('http://i.imgur.com/rcw4Etb.png');
background-repeat: no-repeat;
background-position: 3px;}

.icon-site-logo {
background: url('http://i.imgur.com/V8Pdpd7.png') no-repeat;}

/*.icon-grab {
background: url('http://i.imgur.com/cAkFbAh.png') no-repeat;
background-position: 0px;}*/

/* ------------------------------------------- */

#footer .bar-button .section .chevron:before {
background: rgba(206,25,55,0.5);}
#footer .bar-button .section .chevron:after {
background: rgba(206,25,55,0.5);}

/* ------------------------------------------- */
/* Botão DJ */

#dj-button .left {
background: rgba(206,25,55,0.5) !important;
}

#dj-button {
border-radius: 50px 10px 10px 50px;
background: #0b0d0f;}

/* ------------------------------------------- */
/* Botão Playlist */

#playlist-button {
background: rgba(206,25,55,0.5);}
/* ------------------------------------------- */
/* Configurações */

/* Fundo */

#user-view, #waitlist .list .sortable-placeholder {
background: #21070b;}

/* ------------------------------------------- */

.tab-menu button:hover {
background: rgba(206,25,55,0.5);}

#footer-user .back {
background: rgba(206,25,55,0.8);}

/* ------------------------------------------- */
/* Playlist */

.icon-check-circle {
background: url('http://i.imgur.com/B8V1LCo.png');}

#playlist-activate-button span {
color: #ce1937;}

.media-list .row.selected {
background: rgba(206,25,55,0.5);}

#playlist-menu .menu .row.selected {
background: rgba(206,25,55,0.5);}

#playlist-activate-button {
background: rgba(206,25,55,0.3);;
}

.media-list .selected .actions {
background-color: #ce1937;}

/*----------------fim css feluz -----------------*/



#chat span.emoji-sizer {
    width: 19px !important;
    height: 19px !important;
}

#user-menu .item.selected {
    background-color: rgba(206,25,55,0.5)   
}

#playlist-menu .menu .row .count {  
    color: #ce1937;
}

#user-view {
    background: rgba(17, 19, 23, 0.8) !important;
}

#user-menu {
    
    background: rgba(28, 31, 37, 0) !important;
}

#rs-skip-button {
    background: rgba(28, 31, 37, 0) !important;
}

#history-button {
background: rgba(28, 31, 37, 0) !important;
}

#app-menu, #app-menu .list {    
    background: rgba(28, 31, 37, 0.40) !important;
}


#dj-button {
    background: rgba(34, 34, 36, 0.59);
    border-radius: 8px;
}

#vote .top {
    background: rgba(34, 34, 36, 0.4) !important;
}

#room .app-right {
    background: linear-gradient(to right,rgba(0, 0, 0, 0.70) 0,rgba(0, 0, 0, 1) 100%);
}

#room-host, #room-name {
left: 105px;
}

#room-bar .icon-room {
    top: 8px;
    left: 10px;
}
i.icon.icon-room {
    width: 130px;
    height: 50px;
}

.icon-room {
    background: url(http://i.imgur.com/KkMZsiH.png?1) no-repeat;
    width: 0px;
    height: 0px;
    background-size: 65%;
}

/*.from.staff {
    text-shadow: 0px 0px 1px #ac76ff;
}*/

#chat .emote .text {
    font-family: 'Ubuntu', sans-serif;
}
#chat-messages .text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    line-height: 20px;
}

#chat .from {
    position: relative;
    margin-bottom: 3px;
    font-size: 13px;
    font-family: 'Ubuntu', sans-serif;
}

#chat-input-field {
    position: absolute;
    top: 7px;
    left: 10px;
    width: 305px;
    height: 18px; !important
    outline: 0;
    border: 0;
    background: 0 0;
    color: #eee;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
}

.app-header {
    background: rgba(28, 31, 37, 0.59);
}

#woot .bottom, #woot.selected {
    background: #25b961 !important;
}
#grab .bottom, #grab.selected {
    background: #792ab5 !important;
}
#meh .bottom, #meh.selected {
    background: #ce1937 !important;
}
.votes-rs .title.woot {
    background: #25b961 !important;
}
.votes-rs .title.grab {
    background: #792ab5 !important;
}
.votes-rs .title.meh {
    background: #ce1937 !important;
}
.votes-rs {
    background: rgba(0,0,0,0.6) !important;
}

/* cabeçalho alternativo inicio*/
/* Text settings */ 
#room-host, #now-playing-dj{color: #808691 !important; }
#room-bar *, 
#now-playing-bar *{font-weight: lighter !important; } 
#room-bar span, 
#now-playing-bar span, 
#now-playing-time span, 
#volume span, 
#rcs-time-elapsed{font-size: 20px !important; } 
#room-bar:hover > #room-name, #room-bar > #room-host, #now-playing-bar:hover > #now-playing-media, 
#now-playing-bar > #now-playing-dj{opacity: 0 !important; transition: opacity 0.25s !important; } 
#room-bar > #room-name, #room-bar:hover > #room-host, #now-playing-bar > 
#now-playing-media, #now-playing-bar:hover >
#now-playing-dj{opacity: 1 !important; 
transition: opacity 0.25s !important; transition-delay: 0.25s !important; } 
/* Positioning and sizing */ 
/* Z-position */ 
#volume span, #now-playing-time{z-index: 11 !important; } #volume .button{z-index: 12 !important; } 
/* Position and sizing */ 
#room-bar > #room-name, #now-playing-bar > 
#now-playing-media{margin-top: 7px !important; } #room-bar > 
#room-host, #now-playing-bar > #now-playing-dj{margin-top: -15px !important; } 
#now-playing-time{margin-top: -2px !important; } #volume{margin-top: -26px !important; margin-right: 58px !important; } 
#volume .button{margin-top: 2px !important; right: 0px !important; width: 48px !important; height: 27px !important; } 
/* + Always show volume */ 
#volume .slider{display: block !important; top: 26px !important; right: -62px !important; } 
/* Colour settings for overlap */ 
#volume .slider{background-color: rgba(28, 31, 37, 0.50) !important; 
box-shadow: 0px -19px 0px 6px rgba(28, 31, 37, 0.50), 0px 18px 0px 6px rgba(28, 31, 37, 0.50) !important; } 
/* Disappearing elapsing */ .elapsing{opacity: 0.0 !important; transition: opacity 1.0s !important; } 
/* Disappear */ #now-playing-bar > :not(#history-button) :not(#rs-skip-button) i, .dark-label{display: none !important; }
#now-playing-time i {display:none !important;}
/* cabeçalho alternativo fim*/



/*
.badge-box.clickable {
    position: absolute;
    left: -9999px;
}
/*http://i.imgur.com/Ht8aNc5.png?1 -- emblema molde */

/*fotinha
.cm.message.id-4080795 {
    background-image: url(dfoksdfokfo.gif);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    background-size: 35px;
}


/*Barra de XP*/
.experience .xp .bar .progress {
    background: rgba(206,25,55,0.8);
}
#footer-user .info .bar .progress {
    background: rgba(206,25,55,0.8);
}

/*Lista das salas*/


.communities .grid .cell .bar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 43px;
    background: rgba(0,0,0,0.5);
}
.communities .grid .cell {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 0 15px 15px 0;
    width: 250px;
    height: 300px;
    background: rgba(0,0,0,0.5);
    cursor: pointer;
}
.communities .grid .cell:hover>.meta {
    margin-top: 43px;
    height: 257px;
    background: rgba(40,40,40,0.7);
    transition: all .15s ease-out;
}
.communities .grid .cell .favorite {
    top: 0;
    right: 0;
    width: 43px;
    height: 43px;
    background: rgba(206,25,55,0.7);
}
.communities .grid .cell .meta {
    position: relative;
    z-index: 2;
    margin-top: 186px;
    width: 100%;
    height: 90px;
    background: rgba(0,0,0,0.5);
    transition: all .25s ease-in;
}

#chat .welcome {
    color: #dd153b;
}
/* Bordas caixas de dialogo */
#chat-input.focused {
   -webkit-box-shadow: inset 0 0 0 1px rgba(206,25,55,0.8) !important;
   box-shadow: inset 0 0 0 1px rgba(206,25,55,0.8) !important;
}
.search.focused {
   -webkit-box-shadow: inset 0 0 0 1px rgba(206,25,55,0.8) !important;
   box-shadow: inset 0 0 0 1px rgba(206,25,55,0.8) !important;
}
#search-bar.focused {
   -webkit-box-shadow: inset 0 0 0 1px rgba(206,25,55,0.8) !important;
   box-shadow: inset 0 0 0 1px rgba(206,25,55,0.8) !important;
}
#filter-bar.focused {
   -webkit-box-shadow: inset 0 0 0 1px rgba(206,25,55,0.8) !important;
   box-shadow: inset 0 0 0 1px rgba(206,25,55,0.8) !important;
}

#user-lists .list-header .input-background.focused {
    -webkit-box-shadow: inset 0 0 0 1px rgba(206,25,55,0.8) !important;
   box-shadow: inset 0 0 0 1px rgba(206,25,55,0.8) !important;
}
.dialog-input-background.focused {
   -webkit-box-shadow: inset 0 0 0 1px rgba(206,25,55,0.8) !important;
   box-shadow: inset 0 0 0 1px rgba(206,25,55,0.8) !important;
}
.youtube-input.focused {
   -webkit-box-shadow: inset 0 0 0 1px rgba(206,25,55,0.8) !important;
   box-shadow: inset 0 0 0 1px rgba(206,25,55,0.8) !important;
}

/*Menu info user*/
#user-rollover {
    background: rgba(0,0,0,0.5);
}
#user-rollover .info {
    background: none;
}
#user-rollover .actions .action:hover {
    background: rgba(206,25,55,0.5);
}
#user-rollover .actions .giftsub {
    width: 100%;
    -webkit-box-shadow: inset 0 -2px 0 -1px hsla(350, 71%, 29%, 0.65);
    -moz-box-shadow: inset 0 -2px 0 -1px hsla(350, 71%, 29%, 0.65);
    box-shadow: inset 0 -2px 0 -1px hsla(350, 71%, 29%, 0.65);
}
#user-rollover .actions .skip {
    width: 100%;
    -webkit-box-shadow: inset 0 -2px 0 -1px hsla(350, 71%, 29%, 0.65);
    -moz-box-shadow: inset 0 -2px 0 -1px hsla(350, 71%, 29%, 0.65);
    box-shadow: inset 0 -2px 0 -1px hsla(350, 71%, 29%, 0.65);
}
#user-rollover .actions .friend, #user-rollover .actions .gift, #user-rollover .actions .ignore, #user-rollover .actions .mention {
    -webkit-box-shadow: inset 2px 0 0 -1px hsla(350, 71%, 29%, 0.65);
    -moz-box-shadow: inset 2px 0 0 -1px hsla(350, 71%, 29%, 0.65);
    box-shadow: inset 2px 0 0 -1px hsla(350, 71%, 29%, 0.65);
}
#user-rollover .actions .mod-dj {
    -webkit-box-shadow: inset 0 2px 0 -1px hsla(350, 71%, 29%, 0.65);
    -moz-box-shadow: inset 0 2px 0 -1px hsla(350, 71%, 29%, 0.65);
    box-shadow: inset 0 2px 0 -1px hsla(350, 71%, 29%, 0.65);
}
#user-rollover .actions .mod-dj {
    -webkit-box-shadow: inset 0 2px 0 -1px hsla(350, 71%, 29%, 0.65);
    -moz-box-shadow: inset 0 2px 0 -1px hsla(350, 71%, 29%, 0.65);
    box-shadow: inset 0 2px 0 -1px hsla(350, 71%, 29%, 0.65);
}
#user-rollover .actions .mod-ban, #user-rollover .actions .mod-mute, #user-rollover .actions .mod-staff {
    -webkit-box-shadow: inset 1px 1px 0 0 hsla(350, 71%, 29%, 0.65);
    -moz-box-shadow: inset 1px 1px 0 0 hsla(350, 71%, 29%, 0.65);
    box-shadow: inset 1px 1px 0 0 hsla(350, 71%, 29%, 0.65);
}
.action.rcs-qmute {
    box-shadow: hsla(350, 71%, 29%, 0.65) 0px 2px 0px -1px inset !important;
}
.action.rcs-qban {
    box-shadow: hsla(350, 71%, 29%, 0.65) 1px 1px 0px 0px inset !important;
}
.action.rcs-qinfo {
    box-shadow: hsla(350, 71%, 29%, 0.65) 1px 1px 0px 0px inset !important;
}

/* barrinha lateral mouse */
::-webkit-scrollbar-thumb {
    background: rgba(206, 25, 55, 0.75) !important;
    border-radius: 5px;
}
.jspDrag:hover, .jspTrack .jspActive, .jspTrack .jspHover {
    background: rgba(206, 25, 55, 0.75) !important;
}
.jspDrag {
    background: rgba(206, 25, 55, 0.75);
    -webkit-box-shadow: inset 0 0 0 1px rgba(206, 25, 55, 0.45);
    -moz-box-shadow: inset 0 0 0 1px rgba(206, 25, 55, 0.45)
    box-shadow: inset 0 0 0 1px rgba(206, 25, 55, 0.45);
    border-radius: 5px;
}
/*BG Icone avatar*/
.thumb .background {
    background: rgba(0,0,0,0.6);
}
/* CORES CHAT */
/* HOST */
#user-lists .group.host {
	color: #42A5DC;
	top: 1px;
}
.icon-chat-host + span,
#user-lists .group.host ~ .user span,
#dialog-user-role .role-menu .menu ul .host span {
	color: #42A5DC !important;
}
#user-lists .group {
    border: none !important;
    box-shadow: 0 0 1px 1px;
}
/* COORDENADOR */
#user-lists .group.manager {
	color: #FFC0CB;
}
#user-lists .group.manager ~ .user span,
#dialog-user-role .role-menu .menu ul .manager span {
	color: #FFC0CB !important;
}
.icon-chat-manager + span,
#user-lists .group.manager ~ .user span,
#dialog-user-role .role-menu .menu ul .manager span {
	color: #FFC0CB !important;
}
/* SEGURANÇA */
#user-lists .group.bouncer {
	color: #FFC0CB;
}
.icon-chat-bouncer + span,
#user-lists .group.bouncer ~ .user span,
#dialog-user-role .role-menu .menu ul .bouncer span {
	color: #FFC0CB !important;
}
/* DJ RESIDENT */
#user-lists .group.dj {
	color: #FFC0CB;
}
.icon-chat-dj + span,
#user-lists .group.dj ~ .user span,
#dialog-user-role .role-menu .menu ul .dj span {
	color: #FFC0CB !important;
}
/* Hover Link's */
#room-settings a:hover, #chat a:hover {
    color: hsl(200,100%,55%) !important;
    text-shadow: 0 0 5px;
}
/* BG Conf comu */
#user-view, #dashboard, #room-settings, #media-panel, #playlist-panel, 
#history-panel {
    background: linear-gradient(hsla(210,10%,7%,.9), hsla(210,10%,5%,.9)) !important;
}
#user-menu, #room-settings-menu, #playlist-menu {
    background: linear-gradient(to right, hsla(210,10%,10%,0), hsla(210,10%,10%,.2));
}
/* Cores menu conf comu */
#room-settings .general-settings button, #room-settings .general-settings.option.enabled button.off {
	background: linear-gradient(hsla(220, 6%, 18%, 0.78), hsla(220, 4%, 5%, 0.91)) !important;
}
#room-settings .general-settings button.off, #room-settings .general-settings .option.enabled button.on {
    background: linear-gradient(hsl(350, 74%, 38%), hsl(350, 81%, 24%)) !important;
}
#room-settings .general-settings button:hover, #room-settings .general-settings .option.enabled button.off:hover {
    background: linear-gradient(hsl(350, 78%, 26%), hsl(350, 89%, 15%)) !important;
}
.dropdown {
background: linear-gradient(hsla(220, 6%, 18%, 0.78), hsla(220, 4%, 5%, 0.91)) !important;
}
.dropdown dd {
    background: hsla(220, 0%, 5%, 0.8) !important;
}
.dropdown dt {
    -webkit-box-shadow: inset -39px 0 0 0 #9a1229;
    -moz-box-shadow: inset -39px 0 0 0 #9a1229;
    box-shadow: inset -39px 0 0 0 #9a1229;
}
/* BG Avatar loja */
.user-content .grid .cell .top {
background: none !important;
}
.user-content .grid .cell, .user-content.communities .grid .cell {
background: hsla(220, 0%, 5%, 0.3) !important;
}
.user-content .grid .cell:hover > .top {
    background: rgba(206,25,55,0.3) !important;
}
/* BG Avatar perfil*/
#user-menu .avatar {
background: linear-gradient(to bottom,#8e1e30 0,#542121 56%,#251313 73%,#2b2424 100%);
}
/* Status,Subscribe,Notificaçoes menu */
.subscribe-button {
background: hsla(220, 0%, 5%, 0.1) !important;
}
.subscribe-button:hover {
    background: rgba(206,25,55,0.3) !important;
}
.user-content.profile .meta .blurb .box, .user-content.profile .meta .blurb input {
background: hsla(220, 0%, 5%, 0.3) !important;
}
.experience .xp .bar {
    background: hsla(220, 0%, 5%, 0.7) !important;
}
.user-content.profile .notifications .row {
    background: hsla(220, 0%, 5%, 0.70);
}
/* Barra de xp (BG) */
#footer-user .info .meta div.bar {
    background: hsla(220, 0%, 12%, 0.6);
}
/* Botoes editar playlist */
#playlist-edit-button {
    background: linear-gradient(hsla(220, 6%, 18%, 0.78), hsla(220, 4%, 5%, 0.91));
}
#playlist-edit-button:hover {
    background: linear-gradient(hsla(193, 100%, 45%, 0.78), hsla(193, 100%, 26%, 0.91));
}
#playlist-shuffle-button {
    background: linear-gradient(hsla(220, 6%, 18%, 0.78), hsla(220, 4%, 5%, 0.91));
}
#playlist-shuffle-button:hover {
    background: linear-gradient(hsla(263, 79%, 56%, 0.6), hsla(263, 79%, 35%, 0.6));
}
#playlist-delete-button {
    background: linear-gradient(hsla(220, 6%, 18%, 0.78), hsla(220, 4%, 5%, 0.91));
}
#playlist-delete-button:hover {
    background: linear-gradient(hsla(0, 79%, 50%, 0.64), hsla(0, 79%, 37%, 0.64));
}
/* Playlist tocando */
.media-list .row.now-playing {
    background: rgba(206,25,55,0.5)!important;
    border-bottom: #000000 2px solid!important;
}
/* Botoes importar, Criar playlist */
#playlist-import {
    background: linear-gradient(hsla(220, 6%, 18%, 0.78), hsla(220, 4%, 5%, 0.91));
}
#playlist-import:hover {
    background: linear-gradient(hsla(263, 79%, 56%, 0.6), hsla(263, 79%, 35%, 0.6));
}
#playlist-create {
    background: linear-gradient(hsla(220, 6%, 18%, 0.78), hsla(220, 4%, 5%, 0.91));
}
#playlist-create:hover {
    background: linear-gradient(hsla(193, 100%, 45%, 0.78), hsla(193, 100%, 26%, 0.91));
}
/* Botoes importar */
#playlist-import-panel .button {
    background: linear-gradient(hsla(220, 6%, 18%, 0.78), hsla(220, 4%, 5%, 0.91));
}
#playlist-import-panel .button:hover {
    background: linear-gradient(hsla(350, 78%, 29%, 0.98), hsla(350, 78%, 42%, 0.68));
}
/* Botoes menu de amigos */
#user-friends .list .row .buttons button {
    background: linear-gradient(hsla(220, 6%, 18%, 0.78), hsla(220, 4%, 5%, 0.91));
}
#user-friends .list .row .buttons button.positive:hover {
    background: linear-gradient(hsla(193, 100%, 45%, 0.78), hsla(193, 100%, 26%, 0.91));
}
#user-friends .list .row .buttons button.negative:hover {
    background: linear-gradient(hsla(0, 79%, 50%, 0.78), hsla(0, 79%, 37%, 0.91));
}
/* Menu emblemas */
.user-content .grid .cell:hover {
    background: rgba(206,25,55,0.5) !important;
}
#user-inventory .badges .grid .cell.selected {
    background: rgba(206,25,55,0.5);
    -webkit-box-shadow: inset 0 0 0 2px rgba(206,25,55,0.5);
    -moz-box-shadow: inset 0 0 0 2px rgba(206,25,55,0.5);
    box-shadow: inset 0 0 0 2px rgba(206,25,55,0.5);
}
/* Avatar selecionado */
#user-inventory .avatars .grid .cell.selected {
    background: rgba(206,25,55,0.5);
    -webkit-box-shadow: inset 0 0 0 2px rgba(206,25,55,0.5);
    -moz-box-shadow: inset 0 0 0 2px rgba(206,25,55,0.5);
    box-shadow: inset 0 0 0 2px rgba(206,25,55,0.5);
}
/* Menu níveis */
.experience .levels .level .label {
    background: linear-gradient(hsla(0, 14%, 11%, 0.78), hsla(0, 9%, 7%, 0.99));
}
.experience .levels .level {
    background: linear-gradient(hsla(0, 12%, 24%, 0.72), hsla(255, 9%, 5%, 0.58));
}
.experience .levels .level.mystery .label {
    background: linear-gradient(hsla(0, 66%, 13%, 0.92), hsla(0, 89%, 8%, 0.91));
}
/* Borda icone avatar */
#user-rollover.role-host .thumb {
 border-color: #db182e !important;
}
#user-rollover.role-cohost .thumb {
 border-color: #ff1e37 !important;
}
#user-rollover.role-manager .thumb {
 border-color: #ef5636 !important;
}
#user-rollover.role-bouncer .thumb {
 border-color: #05abe4 !important;
}
#user-rollover.role-dj .thumb {
 border-color: #7936e8 !important;
}
#user-rollover.role-user .thumb {
 border-color: #cc3442 !important;
}
/* Barra de pedidos de amizade */
.app-right .friends .header {
    background: linear-gradient(rgba(43, 45, 48, 0.780392), rgba(12, 12, 13, 0.909804)) !important;
}
.app-right .friends .header:hover {
    background: linear-gradient(rgb(169, 25, 49), rgb(111, 11, 28)) !important;
}
